@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Parkinsans:wght@300..800&display=swap");
#root {
  margin: 0 auto;
  text-align: center;
  height: auto !important;
  max-height: 90%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none !important;
}
.Container {
  background-color: rgb(255, 255, 255);
  margin-top: 2%;
  border-radius: 10%;
}
.qr-member {
  margin-right: 20px !important ;
}
@media (max-width: 768px) {
  .search-input {
    margin-top: 30px;
  }
  .member-special {
    padding: 6%;
  }
  .USER-INFO {
    margin-left: 12%;
    width: 352px;
  }
  .text-nav {
    font-size: 20px;
  }
  .nav-bare {
    width: 89%;
    margin-left: 25px;
  }
  .image-member {
    margin-left: -8px;
    width: 60%;
  }

  .box-show {
    margin-top: 80px;
    margin-left: 31px;
    width: 85%;
  }
  .form-book {
    height: 100%;
    width: 85%;
    margin-left: 30px;
  }
  .offer-titel {
    align-items: center;
    margin-left: 30%;
  }
  .offer-card {
    width: 83%;
    margin-left: 14px;
  }
  .bt-offer {
    height: 50px;

    width: 55px;
  }
  .airinel-text {
    margin-bottom: 30px;
  }
  .duration-text {
    margin-bottom: 35px;
  }
  .inbox-offer {
    width: 300px;
  }
  .box-center {
    margin-right: 10px;
  }
  .text-from {
    margin-bottom: 70px;
  }
  .text-too {
    margin-bottom: 70px;
  }
  .member-card {
    width: 100%;
    margin-left: 8px;
  }
  .num-id {
    font-size: 19px !important;
  }
  .logo-member {
    width: 30%;
    height: 80%;
    margin-left: 10px;
  }
  .icone-sidbar {
    width: 45px;
  }
  .Passports-card{
    margin-top: 7%;
    margin-left: 9px;
  }
  .Deposit-Form 
  {
    width: 85%;
    margin-left: 35px;
  }
  .titel-problem{
    font-size: 25px !important;
    font-weight: bold !important;
  }
  .Problems-Form {
    width: 85%;
    margin-left: 35px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .USER-INFO {
    margin-left: 8%;
    width: 400px;
  }
  .nav-bare {
    width: 92%;
    margin-left: 20px;
  }
  .image-member {
    width: 70%;
  }
  .box-show,
  .form-book {
    width: 90%;
    margin-left: 20px;
  }
  .offer-titel {
    margin-left: 25%;
  }
  .offer-card {
    width: 88%;
    margin-left: 10px;
  }
  .bt-offer {
    width: 60px;
  }
  .inbox-offer {
    width: 320px;
  }
  .logo-member {
    width: 35%;
  }
  .icone-sidbar {
    width: 50px;
  }
  .titel-problem{
    font-size: 25px;
    font-weight: bold;
  }
}
.label-form{
  color: black;
}
.input-problem{
  background-color: #F2F5FA;
  color: #798494;
}
.titel-problem{
  font-size: 40px;
  font-weight: bold;
}