@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Parkinsans:wght@300..800&display=swap");
#root {
  margin: 0 auto;
  text-align: center;
  height: auto !important;
  max-height: 90%;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.nav-bare {
  border-radius: 20px;
}
.text-nav {
  font-size: 20px;
  font-weight: bold;
}

.card {
  padding: 2em;
}
.statistics-number {
  font-size: 35px;
}
.statistics-prargraph {
  font-size: 14px;
}
.Statistics-box {
  border-radius: 23px;
}
.Previous-fight {
  margin-left: 4px;
    border-radius: 10px;
    height: 60px;
}

.next-fight {
  width: 138px !important;
  border-radius: 10px;
  height: 60px;
}
.read-the-docs {
  color: #888;
}
.search-input {
  border: none !important;
}
.input-nav {
  border: none !important;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none !important;
}
.Container {
  background-color: rgb(255, 255, 255);
  margin-top: 2%;
  border-radius: 10%;
}
.qr-member {
  margin-right: 20px !important ;
}
@media (max-width: 768px) {
  .search-input {
    margin-top: 21px;
    border: none !important;
  }
  .member-special {
    padding: 6%;
    width: 100%;
    margin-left: -9px;
  }
  .USER-INFO {
    margin-left: 11%;
    width: 352px;
  }
  .text-nav {
    font-size: 18px;
  }
  .Previous-fight {
    margin-left: 4px;
      border-radius: 10px;
      height: 60px;
  }
  
  .next-fight {
    width: 138px !important;
    border-radius: 10px;
    height: 60px;
  }
  .nav-bare {
    width: 94%;
    height: auto;
    margin-left: -10px;
  }
  .image-member {
    margin-left: -8px;
    width: 55%;
  }

  .box-show {
    margin-top: 25px;
    margin-left: -17px;
    width: 100%;
  }
  .form-book {
    width: 100%;
    margin-left: -19px;
  }
  .offer-titel {
    align-items: center;
    margin-left: 30%;
  }
  .offer-card {
    width: 34%;
    margin-left: -35px;
  }
  .bt-offer {
    height: 50px;

    width: 55px;
  }
  .airinel-text {
    margin-bottom: 30px;
  }
  .duration-text {
    margin-bottom: 35px;
  }
  .inbox-offer {
    width: 269px;
  }
  .box-center {
    margin-right: 10px;
  }
  .text-from {
    margin-bottom: 70px;
  }
  .text-too {
    margin-bottom: 70px;
  }
  .member-card {
    width: 286px;
    margin-left: -45px;
  }
  .num-id {
    font-size: 19px !important;
  }
  .logo-member {
    width: 30%;
    height: 80%;
    margin-left: 10px;
  }
  .icone-sidbar {
    width: 45px;
    margin-left: 20px;
  }
  .Passports-card {
    margin-top: 7%;
    width: 280px;
    margin-left: -50px;
  }
  .Deposit-Form {
    width: 100%;
    margin-left: -20px;
  }
  .titel-problem {
    font-size: 25px !important;
    font-weight: bold !important;
  }
  .Problems-Form {
    width: 95%;
    margin-left: -5%;

  }
  .romeh-photo{
    width:100% ;
    height: 100%;
  }
  .member-card2 {
    width: 290px;
    margin-left: -30%;
  }
  .client-passpor {
    width: 229px;
    margin-left: -8%;
  }
  .img-member {
    position: relative !important;
    left: 21px !important;
    top: 19px !important;
    width: 50px !important;
  }
  .lasttitel-member {
    position: relative !important;
    left: 21px !important;
    top: 11px !important;
    width: 50px !important;
  }
  .notification-card{
    width: 280px;
    margin-left: -49px;

  }
  .tital-transport{
    margin-left: 40px;
  }
}
.passpoer-lastcard {
  border: 1px dotted #ececec;
}

.phone-uesr,
.name-uesr {
  border: 1px solid gray !important;
}
.label-form {
  color: black;
}
.input-problem {
  background-color: #f2f5fa;
  color: #798494;
}
.titel-problem {
  font-size: 40px;
  font-weight: bold;
}
.date-input {
  right: 47px;
  position: relative;
  font-size: 8px;
}
.img-member {
  position: relative;
  left: 17px;
  top: 19px;
  width: 50px;
}
.lasttitel-member {
  position: relative;
  left: 17px;
  top: 11px;
  width: 50px;
}
.style-font{
  font-family: cairo;
}
.image-member{
  width: 50%;
}